<div>
    

</div>

<div class="col-md-8 col-md-offset-2"> 
    <br>
    <h2 style="color:blue;">About Us:</h2> 
    <b>
        > Indian Brand Based in mumbai adopted global standard practice 
        kaizen lain. Brand use higher standerd equipment and practice 
        speafic SOP's
        <br><br>
        > Since from 2007 HAS deligated more than 6 million customer.
        <br><br>
        > Fruits is the only natures gift we can eat naturally.

        <br>
        <br>
        <img src="images/juice3.jpg" alt="juceimage"/> 

        > Fruits have multi benefits, like vitamins, fiber, minerals 
        antioxyde and may world is moving at fast speed then to ensures 
        we cope up with this speed we provide nutrient and healthy product
        to the world.

        <br>
        <br>
        > Fruits is a solider to prevent from illness naturaly. 
        It acts as fast agent to improvise function of our 
        internal and external body.
    </b></div>

</body>
</html>
