<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>This is home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .juice-center{
                font-size: 80px;
                font-family: timesnewroman;
            }
           
            .juice-center1{
                font-size: 40px;
                font-family: timesnewroman;
            }
           
            body{
                background-image: url("/img/wecome1.jpg")
            }
        </style>
    </head>
    <body>
        <div class="col-md-12">       
            <label class="juice-center">Welcome.....</label> 
            <span class="juice-center1"> <i>in</i></span>    <img src="../img/freshfeel-2.png" alt=""/>
           
        </div>
    </body>

</html>
